back/.env
.env
.env.*
*.env.local

values.secret.yaml
values.secrets.yaml
*-secrets.yaml
*-secret-override.yaml

Terraform-part-1/.terraform/

Terraform-part-1/*.tfstate
Terraform-part-1/*.tfstate.*


Terraform-part-1/*.tfvars


Terraform-part-1/crash.log
Terraform-part-1/crash.*.log

Terraform-part-2/.terraform/

Terraform-part-2/*.tfstate
Terraform-part-2/*.tfstate.*


Terraform-part-2/*.tfvars


Terraform-part-2/crash.log
Terraform-part-2/crash.*.log

# Kubernetes secrets
**/*secret*.yaml
**/*secret*.yml